.skills__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  max-width: 40%;
}

.skills__container > div {
  background-color: var(--background-colour-variant);
  padding: 2.4rem 5rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
  border-color: black;
  border-width: 1px;
  box-shadow: 5px 5px 15px 5px #000000;
  justify-content: space-around;
}

.skills__container > div:hover {
  background: transparent;
  border-color: var(--primary-colour-variant);
  cursor: default;
}

.skills__container > div h3 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--primary-colour);
}

.skills__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
  justify-items: center;
}

.skills__details {
  display: flex;
  gap: 1rem;
  padding-left: 1rem;
}

.skills__details-icon {
  margin-top: 6px;
  color: var(--primary-colour-variant);
}

.skills__details > h4 {
  padding: 2px;
}

#skills {
  padding-top: 8rem;
}

@media screen and (max-width: 1024px) {
  .skills__container {
    grid-template-columns: 1fr;
    max-width: 90%;
  }

  .skills__container > div {
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
  }

  .skills__content {
    padding: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .skills__container {
    gap: 1rem;
    width: 95%;
  }
  .skills__container > div {
    width: 100%;
  }
  .skills__details {
    padding-left: 0rem;
  }
}
