header {
  height: 100vh;
  padding-top: 7rem;
  overflow: hidden;
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}

.photo {
  width: 15rem;
  height: 15rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  border-radius: 15rem;
  border-color: black;
  border-width: 1px;
  border-style: outset;
  box-shadow: inset -1px 3px 8px 5px #000000, 2px 5px 16px 0px #000000, 5px 5px 7px 5px rgba(0, 0, 0, 0);
}

.home__contact {
  background: rgba(0, 0, 0, 0.3);
  width: max-content;
  display: block;
  padding: 0.5rem 1.7rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1.5rem;
  display: flex;
  gap: 0.8rem;
  border-radius: 1rem;
  backdrop-filter: blur(15px);
}

.home__contact a {
  background: transparent;
  margin: 0.2rem;
  padding: 0.5rem;
  border-radius: 1rem;
  display: flex;
  font-size: 3rem;
}

.home__contact a:hover {
  background: rgba(0, 0, 0, 0.2);
}

.home__contact a.active {
  color: white;
}

@media screen and (max-width: 1024px) {
  header {
    height: 100vh;
  }
}

@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }
}
