header {
  height: 100vh;
  padding-top: 7rem;
  overflow: hidden;
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}

.photo {
  width: 15rem;
  height: 15rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  border-radius: 15rem;
  border-color: black;
  border-width: 1px;
  border-style: outset;
  box-shadow: inset -1px 3px 8px 5px #000000, 2px 5px 16px 0px #000000, 5px 5px 7px 5px rgba(0, 0, 0, 0);
}

@media screen and (max-width: 1024px) {
  header {
    height: 100vh;
  }
}

@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }
}
